.h1{
    text-align: center;
    color: #e90202;
}
.h1 span{
    color: #000;
}
.diver{
    
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.dive{
    /* background-color: #e90202; */
    /* display: flex; */
    /* padding-left: 00px; */
    width: 30%;
    border: 2px solid gray;
    text-align: center;
    background-color: #eeb9b9;
    border-radius: 15px;
    overflow: hidden;
    
}
.dive h2{
    font-size: 20px;
}
.dive img{
    width: 100%;
    border-radius: 15px;
}
.src{
    overflow: hidden;
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
}
.moi{
    /* background-color: #806666; */
    padding: 10px;
    height: 250px;
    border: 2px solid black;
    /* overflow: hidden; */
}
/* .die{
    background-color: #c99a9a;
    width: 30%;
    height: 00px;
    border: 2px solid black;
} */
.die img{
    width: 10%;
    height: 100%;
}
.di{
    width: 20%;
    margin: 20px;
    height: 30%;
    background-color: #e90202;
}
.di:hover{
    /* border: 2px solid blue; */
    /* position: relative;
    z-index: 1; */
}
.di .oo{
    color: #000;
    font-size: 20px;
   
    
}
.di:hover{
    overflow: hidden;
}
.di:hover .oo{
    /* border-bottom: 1px solid black; */
    text-decoration:underline;
    /* position: absolute;
    top: 0;
    height: 100%; */
    /* align-items: baseline; */
    /* background: transparent; */
    /* color: #e90202;
    display: block;
    opacity: 0.2; */
    
}
.ka{
    display: none;
}
.di:hover .ka{
    /* bottom: 0;
    display: flex;
    position: absolute; */
    /* padding: 20px;
    background: #e90202;
    opacity: 0.6;
    color: white;
    font-size: 20px;
    height: 40%; */
    top: 50px;
    /* transform: translateX(-50%); */
    /* left: 50%; */
    transition: 5s;
}
.o img{
    width: 100%;
    height: 100%;
}
.o{
    overflow: hidden;
    /* background-color: #e90202; */
    width: 100%;
    height: 100%;
}
.dive img:hover{
overflow: hidden;
   transform: scale(2.5);
   transition: 5s;
    /* height: 130%;
    width: 130%;
    top: 0;
    left: 0;
    content: "";
    background: #cccccc;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    -moz-transform: rotate(110deg) translateY(-50%);
    -ms-transform: rotate(110deg) translateY(-50%);
    -o-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%); */
        
    /* position: relative; */
    /* z-index: -1; */
    /* mask-position: center;
    width: 202%;
    transition: 5s; */
}

.bien{
    display: flex;
    bottom: 0;
    /* height: 20%; */
}
.bi{
    width: 50%;
    text-align: center;
    align-items: center;
    background:#f0cece;
    /* height: 100%; */
    /* height: 247px; */
}
.bin{
    width: 60%;
    
}
.bin img{
    width: 100%;
    /* height: 50%; */
}