
/* s1 */
.oua{
    display: flex;
    padding: 50px;
}
.ouaga{
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
    height: 480px;
    /* background-image: radial-gradient(black, yellow, gray); */
    /* background-image: radial-gradient(circle, black 30%, */
  /* gray 50%, yellow 20%); */
}
.lo{
    position: relative;
    z-index: 20;
    text-align: center;
    color: #0bdf5c;
    margin-top: 80px;
    font-size: 50px;
    /* margin-left: 0px; */
}
.ouaga p{
    font-size: 25px;
}
.ouaga h3{
    font-size: 25px;
}
.ouaga h1{
    text-align: justify;
    padding: 20px;
    font-size: 30px;
    color: #08fa30;
    /* width: 50%; */
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img{
    width: 50%;
    height: 380px;
    /* height: 50%; */
}
.img img{
    /* width: 50%; */
    width: 100%;
    height: 502px;
}
.bobo{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    border: 2px solid rgb(170, 167, 151);
}
.bob h1{
    font-size: 30px;
    color: #5951d1;
}
.bob span{
    font-size: 50px;
    color: #e20e0e;
}
.bob h2{
    font-size: 25px;
}
.bob p, .ko p{
    font-size: 20px;
}
.kou{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.ko{
    
    width: 50%;
    padding: 10px;
    background-color: #c7d1c8;
    text-align: center;
}
.ko:hover{
    background: transparent;
}
.ko h1{
    font-size: 35px;
    color: #d151a6;
}
.carousel{
    width: 50%;
}
.carousel img{
    height: 400px;
}

/* foooter# */
